apiVersion: ${apiVersion}
kind: ${kind}
metadata:
  name: ${cluster_name}
spec:
  hosts:
%{ for host in managers ~}
    - role: manager
      ssh:
        address: ${host.public_ip}
        user: ${host.ssh_user}
        port: ${host.ssh_port}
        keyPath: ${host.ssh_key_path}
      privateInterface: ${host.private_interface}
%{ endfor ~}
%{ for host in msrs ~}
    - role: msr
      ssh:
        address: ${host.public_ip}
        user: ${host.ssh_user}
        port: ${host.ssh_port}
        keyPath: ${host.ssh_key_path}
      privateInterface: ${host.private_interface}
%{ endfor ~}
%{ for host in workers ~}
    - role: worker
      ssh:
        address: ${host.public_ip}
        user: ${host.ssh_user}
        port: ${host.ssh_port}
        keyPath: ${host.ssh_key_path}
      privateInterface: ${host.private_interface}
%{ endfor ~}
  mke:
    version: ${mke_version}
    adminUsername: ${admin_username}
    adminPassword: ${admin_password}
    installFlags:
      - ${orchestrator_flag}
      - --force-minimums
      # - --dns=1.1.1.1
      # - --kube-apiserver-port=8443
      # - --nodeport-range=30000-39767
      # - --pod-cidr=10.244.0.0/16
      # - --service-cluster-ip-range=10.97.0.0/16
      # - --ingress-controller
%{ if mke3_tls_common_name != null ~}
      - --san=${mke3_tls_common_name}
%{ endif ~}
%{ if san != null ~}
      - --san=${san}
%{ endif ~}
%{ if mke_ca_cert_path != null ~}
    caCertPath: ${mke_ca_cert_path}
    certPath: ${mke_cert_path}
    keyPath: ${mke_key_path}
%{ endif ~}
  msr:
%{ if enable_msr ~}
    version: ${msr_version}
    installFlags:
      - --ucp-insecure-tls
%{ if msr_external_url != null ~}
      - --dtr-external-url ${msr_external_url}
%{ endif ~}
%{ else ~}
    {}
%{ endif ~}
  mcr:
    version: ${mcr_version}
    channel: stable-${mcr_version}
    repoURL: https://repos.mirantis.com
  cluster:
    prune: true
